// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-intro {
//   font-size: large;
// }

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }

.home-container {
  position: relative;
  height: 100vh;

  .home-header {
    position: absolute;
    top: 0;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.16rem;
    width: 100%;
    text-align: right;
    background-color: rgba(173, 157, 157, .2);

    .home-header-span {
      margin-right: 0.05rem;
    }
  }
  .home-body {
    // width: 100%;
    height: 120vw;
    line-height: 120vw;
    text-align: center;
    font-size: 0.3rem;
    // color: #fff;
    // background-color: #ccc;
    background: url('http://img.sccnn.com/bimg/338/51218.jpg') center center no-repeat;
    // background-size: contain;
    
    .space-carousel {
      padding: 16px;
      background: #DEF1E5;
      overflow: hidden;
    }
  }
  .home-footer {
    // width: 100%;
    // height: 40vh;
    position: absolute;
    top: 120vw;
    bottom: 0;
    width: 100%;
    background-color: #fff;

    .home-footer-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      font-size: 0.2rem;
      line-height: 20vw;
      background-color: #ccc;
      text-align: center;
      color: #000;
    }
  }
}